.place {
  background: #333333;
  padding: 100px 60px 120px;
  color: #fff;

  &__items {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
  }
  &__search {
    &--icon {
      font-size: 50px;
      color: blue;
    }
  }
  &__select {
    &--icon {
      font-size: 50px;
      color: red;
    }
  }
  &__book {
    &--icon {
      font-size: 50px;
      color: blue;
    }
  }
  &__text {
    padding-top: 30px;
    font: 400 36px/26px $aleo;
  }
}
